/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

/* Estilos para el formulario de carga de documentos */
#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, button {
    margin: 10px;
}

/* Estilos para la lista de documentos */
#document-list {
    list-style: none;
    padding: 0;
}

#document-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#document-list a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

#document-list a:hover {
    color: #007BFF;
}

/* Estilos para la fecha y hora */
#document-list span {
    font-size: 14px;
    color: #777;
    margin-left: 10px;
}

/* Estilos para el campo de búsqueda */
#search-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text
