/* Estilos para la página de carreras */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px 0;
}
/* Estilos para la página de Comisión Académica */
.comision-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en la primera fila */
    grid-gap: 20px; /* Espacio entre elementos */
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.comision {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.comision button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comision button:hover{
    background-color: #258cd1;
}    

.comision img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #3498db; /* Color de fondo para la franja */
    text-align: center;
    margin-top: 20px;
    padding: 10px 0; /* Agregar espacio alrededor del contenido del footer */
}

.button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #258cd1;
}

